@import "reset";
@import "init";
@import "mixins";
@import "leaflet";
@import "markercluster";
@import "markercluster.default";
@import "colorbox";

/* Base styles */

html {
  font-family: $helvetica;
  font-size: 100% * ($base-font-size / 16px);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  background: $bgColor;
  color: $textColor;
  line-height: 1.3em;
}

a {
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

/* Classes */

.wrapper-inner {
  margin: 0 auto;
  max-width: 960px;
}

.wrapper-inner-list {
  margin: 0 auto;
  max-width: 1140px;
}

/**
 * Region top
 */

#region-top {
  background: #604e38;
  min-height: 45px;
}

#block-search {
  float: left;
  margin: 0 0 0 65px;
  position: relative;
  width: 33%;

  .search-form {
    margin: 11px 0 0 0;

    input.text {
      @include border-left-radius(5px);
      border: 0;
      float: left;
      font-size: 0.750em;
      height: 22px;
      line-height: 22px;
      padding: 0 5px 0 5px;
      width: 190px;
    }
    input.searchbtn {
      background: url("/themes/demandmap/images/icon-search.png") no-repeat 50% 50% #fff;
      @include border-right-radius(5px);
      border: 0;
      color: #fff;
      cursor: pointer;
      float: left;
      font-size: 0;
      height: 22px;
      line-height: 22px;
      text-indent: -5000px;
      width: 22px;
    }
  }
}

#block-sociallinks {
  color: #fff;
  float: right;
  font-size: 0.750em;
  line-height: 22px;
  margin: 11px 90px 0 0;
  text-align: right;
  width: 33%;

  a {
    color: #fff;
  }
}

/**
 * Region header
 */

#logo {
  float: left;
  margin: 5px 0 10px 60px;
}

#menu-mainmenu {
  float: left;
  font-size: 0.938em;
  line-height: 30px;
  margin: 76px 0 0 22px;
  text-transform: uppercase;

  li {
    float: left;
    padding: 0 13px;

    a {
      color: #775e41;

      &.active {
        color: #fb8944;
      }
    }
  }
}

/**
 * Region footer
 */

#region-footer {
  background: #46392b;
  color: #ffffff;
  min-height: 85px;

  a {
    color: #ffffff;
  }
  ul {
    padding: 22px 0 0 0;
    li {
      display: inline;
      margin: 0 0.15em;
    }
  }
}

#footer-block {
  display: none;
}

#footer-block + img {
  display: none;
}

/**
 * Footer menu
 */

#footermenu {
  font-size: 0.875em;
  text-align: center;
}

/**
 * Region filter
 */

#region-filter {
  border-top: 5px solid #ac9f8c;
  background: #cdc0af;
  min-height: 53px;
}

#type_switch {
  font-size: 0.875em;
  line-height: 30px;
  padding: 11px 0 11px 125px;

  li {
    float: left;
    padding: 0 16px;

    a {
      color: #fff;

      &.active {
        color: #604e38;
        font-weight: bold;
      }
    }
  }
}

/**
 * Category filter
 */

#category_switch {
  ul {
    font-size: 0.750em;
    line-height: normal;
    margin: 9px 0 9px 0;
    list-style-type: none;

    li {
      padding: 2px 0 2px 0;
    }
  }
}

#region-category-filter {
  color: #fff;
  margin: 36px 0 0 0;
  position: absolute;
  right: 0;
  z-index: 1001;
  z-index: 100000;

  a {
    color: #fff;
    &:hover, &.active {
      color: lighten($headlineColor, 20%);
      text-decoration: none;
    }
  }
  h3 {
    color: #fff !important;
    font-size: 1.500em;
    margin: 9px 0 17px 0;
    text-transform: uppercase;
  }
  h4 {
    color: #fff !important;
    font-size: 1.125em;
    font-weight: normal;
    font-style: italic;
  }
  h5 {
    color: #fff !important;
    font-size: 0.875em;
    font-weight: normal;
    font-style: italic;
  }
}

#region-category-filter-inner {
  @include transparent(#000000, 0.80);
  @include border-bottom-left-radius(10px);
  float: right;
  font-size: 0;
  overflow: hidden;
  position: relative;
  padding: 0 0 0 13px;
  width: 0;
}

#region-category-filter-plus, #region-category-filter-minus {
  @include transparent(#000000, 0.80);
  float: right;
  font-size: 0;
  height: 39px;
  width: 32px;

  img {
    margin: 7px 0 0 9px;
  }
}

#region-category-filter-minus {
  display: none;
}

/**
 * Categories
 */

.category-column {
  margin-bottom: 1em;
  ul {
    margin: 0 0 0 1.5em;

    label {
      font-weight: normal !important;
    }
  }
  .check-box {
    margin: 0 0.5em 0 0;
  }
}

/**
 * Pagination
 */

.rb_nav-controls {
  position: absolute;
  bottom: -44px;
  left: 50%;
  margin: 0 0 0 -15%;
  text-align: center;
  z-index: 1005;
  width: 30%;
}

ul.pager {
  line-height: 42px;

  li {
    display: inline;
    display: inline-block;
    list-style: none;
    padding: 0 2px 0 2px;

    a.active {
      color: #fff;
      font-weight: bold;
    }
  }
}

/**
 * Map region
 */

#region-map {
}

div.map {
  border: 0;
  height: 350px;
  width: 100%;
}

.map-pager {
  background: #2d2b29;
  height: 42px;
  line-height: 42px;
  position: relative;
  z-index: 1002;
}

#trigger-expand-map {
  display: none;
}

.trigger-maplist {
  float: left;
}

.trigger-collapse {
  float: right;
  display: none;
}

.collapsible-views {
}

.collapsible-map {
}

.collapsible-list {
  display: none;
  background: #938069;

  .list-view {
    padding: 14px 0 0 0;
    position: relative;
    height: 350px;
  }
  .no-matchings {
    color: #fff;
    padding: 0 0 0 125px;
    left: 30%;
    top: 50%;
    position: absolute;
  }
  .rb_report {
    background: #e7e1d3;
    float: left;
    @include border-radius(30px);
    @include box-shadow(0 0 8px rgba(0, 0, 0, .5));
    border: 2px solid rgba(8, 9, 7, .5);
    margin: 0 12px 12px 0;
    height: 110px;
    padding: 20px 15px;
    overflow: hidden;
    position: relative;
    width: 332px;

    h3 {
      color: $headlineColor;
      font-weight: bold;
      margin: 0 0 0.75em;
    }
    .r_date, .r_location {
      display: none;
    }
    .btn-show {
      color: $headlineColor;
      font-size: 0.875em;
      white-space: nowrap;
    }
    .report-submissiontype {
      bottom: 0;
      right: 14px;
      position: absolute;
    }
  }
}

/**
 * Content region
 */

.region-content {
  .wrapper-inner {
    background: #e7e1d3;

    .content-padding {
      padding: 30px 45px;
    }
  }
}

/**
 * Frontpage columns
 */

.frontpage-content-columns {
  padding: 0 0 1em 0;
}

.frontpage-content-left {
  float: left;
  width: 70%;
}

.frontpage-content-right {
  float: left;
  line-height: normal;
  width: 30%;

  img {
    @include border-radius(10px);
    border: 1px solid #d0cabc;
  }
}

#page-id-9 {
  margin-top: 38px;
  text-align: center;
}

/**
 * blocks
 */

.content-blocks {
  #block-reports {
    float: left;
    width: 28%;

    .content-block {
      padding-right: 10px;
    }
  }
  #block-news {
    float: left;
    width: 42%;

    .content-block {
      padding: 0 5px;
    }
  }
  #block-social-media {
    float: left;
    width: 30%;

    .content-block {
      padding-left: 10px;
    }
  }
}

#block-reports {
  .incident-identificator {
    display: inline-block;
    width: 25px;
  }
  .incident-separator {
    margin-right: 5px;
  }
}

.block-report-list, .block-news-list {
  font-size: 0.750em;
}

/**
 * Report detail
 */

h1, .content-blocks h5 {
  color: $headlineColor;
  font-size: 1.375em;
  font-weight: bold;
  padding-bottom: 0.75em;
}

.report-detail {
  .report-category-list, .report-metadata, .report-description-text {
    margin: 0 0 1em 0;
  }
  h2 {
    @extend h1;
  }
}

.report-metadata {
  font-weight: bold;
}

.report-comments {
  margin: 2em 0;
  h2 {
    margin-bottom: 0.375em;
  }
}

.report-comment-box {
  @include border-radius(3px);
  border: 1px solid #d5cebe;
  background: #f3f0e9;
  margin: 0 0 6px 0;
  padding: 8px 9px;
}

.comment-metadata {
  font-style: italic;
  font-size: 0.875em;
}

.comment-description {
  margin: 0.5em 0 0.5em;
}

.comment-block {
}

#commentForm {
  font-size: 0.875em;
  margin: 1em 0 0 0;

  label {
    color: $headlineColor;
    display: block;
    font-weight: bold;
  }
}

h2 + #commentForm {
  margin-top: 0.25em;
}

.report_row {
  margin: 0 0 1em 0;
}

.error {
  color: #ca1b17 !important;
  font-weight: normal !important;
}

/**
 * Submit incident
 */

#reportForm {
  font-size: 0.875em;
  margin: 0.5em 0 0 0;

  label {
    color: $headlineColor;
    display: block;
    font-weight: bold;
  }
  .allowed-html {
    display: block;
    line-height: 1.3em;
    font-size: 0.750em;
    margin-bottom: 3px;
  }
}

/**
 * user interface
 */

.edit-link {
  font-size: 0.675em;
}

/**
 * Form generation
 */

.textarea, .text {
  border: 1px solid #f4f1ea;
  padding: 0 5px;
  height: 23px;
  line-height: 23px;
  width: 400px;
}

.textarea {
  height: 100px;
}

.btn_green, .btn_submit {
  background: $headlineColor;
  border: 0;
  cursor: pointer;
  @include border-radius(5px);
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;

  &:hover {
    background: lighten($headlineColor, 10%);
  }
}

/**
 * Table list
 */

.table-list {
  background: #fff;
  border-left: 1px solid #ac9f8c;
  border-top: 1px solid #ac9f8c;

  tr.odd {
    background: #e9e9e9;
  }
  th, td {
    border-right: 1px solid #ac9f8c;
    border-bottom: 1px solid #ac9f8c;
    padding: 3px 8px;
  }
  th {
    background: #2d2b29;
    color: #fff;
    font-weight: bold;
  }
}

/**
 * Frontpage Buttons
 */

.frontpage-button {
  border-bottom: 1px solid #d0cabc;
  float: left;
  font-size: 0.875em;
  padding: 0 0 35px 0;
  text-align: center;
  width: 33.33333%;

  h3 {
    color: #948068;
    font-size: 1.75em;
    font-weight: normal;
    margin: 30px 0 15px 0;
    text-transform: uppercase;
  }
  a:hover {
    color: $headlineColor;
  }
}

#frontpage-buttons {
  margin: 2em 0 2.5em;
}

.frontpage-buttons-inner {
  padding: 0 20px;
  min-height: 292px;
}

/**
 * Page content
 */

.page_text {
  overflow: hidden;

  a {
    color: #fb8944;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
  h2 {
    color: $headlineColor;
    font-size: 1.0em;
    font-weight: bold;
    padding-bottom: 0.25em;
  }
  h3, h4, h5 {
    font-size: 1.0em;
    font-weight: bold;
    padding-bottom: 0.25em;
  }
  p {
    margin: 0 0 1.5em;
  }
  p + ul, p + ol {
    margin-top: -0.5em;
  }
  li ul, li ol {
    margin: 0 1.5em;
  }

  ul, ol {
    margin: 0 1.5em 1.5em 1.5em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ol ol {
    list-style: upper-alpha;
  }

  ol ol ol {
    list-style: lower-roman;
  }

  ol ol ol ol {
    list-style: lower-alpha;
  }
}

.sidebar-right {
  float: right;
  margin: 0 0 0 90px;

  h2 {
    color: $headlineColor;
    font-size: 0.875em;
    font-weight: bold;
    padding-bottom: 5px;
  }
  iframe {
    @include border-radius(5px);
  }
}

#page-id-1 {
  .sidebar-right {
    @include border-radius(10px);
    background: #fff;
    border: 1px solid #d0cabc;
    padding: 5px 10px;
    text-align: center;
  }
}

/**
 * Resources
 */

.resources-list {
  margin: 1em 0 0 0;
  width: 70%;

  .resources-item {
    @include border-radius(5px);
    border-bottom: 1px dashed #d0cabc;
    margin: 0 0 1em 0;
    padding: 0 0 1em 0;
  }
  h3 {
    color: $headlineColor;
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .material-category {
    color: $textColor;
    font-size: 0.813em;
    font-style: italic;
    font-weight: normal;
    margin: 0.75em 0 0 0;
  }
  .action-line {
    font-size: 0.813em;
    margin: 0.75em 0 0 0;

    .commentcount {
      a {
        background: #fff;
        @include border-radius(5px);
        border: 1px solid #d0cabc;
        padding: 0.25em 0.75em;
      }
    }
    .readmore {
      margin: 0 0 0 0.5em;
      a {
        background: $headlineColor;
        @include border-radius(5px);
        border: 1px solid #d0cabc;
        color: #ffffff;
        padding: 0.25em 0.75em;
      }
    }
  }
}

.resource-detail {
  h2 {
    color: $headlineColor;
    font-size: 1.0em;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .material-category {
    color: $textColor;
    font-size: 0.875em;
    font-style: italic;
    font-weight: normal;
    margin: -0.75em 0 0.75em 0;
  }
}

/**
 * Errors
 */

.red-box {
  border: 1px dashed #ed541d;
  background-color: #fef5f1;
  color: #8c2e0b;
  margin: 0 0 1em 0;
  padding: 0.75em 1em;

  h3 {
    color: #8c2e0b;
    font-weight: bold;
  }
  ul, ol {
    margin: 0.175em 0 0 1.1em;
    list-style-type: disc;
  }
}

/**
 * User Navbar
 */

#header_nav {
  font-size: 0.875em;
}

#header_nav_left {
  line-height: 30px;
}

#header_nav_right {
  li.header_nav_user {
    a {
      display: block;
      padding: 0.25em 0.75em;
    }
  }
}

.report-submit {
  padding-right: 45px;
}