/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, .report-detail h2, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 12, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 20, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 35, ../sass/_reset.scss */
em, i {
  font-style: italic;
}

/* line 39, ../sass/_reset.scss */
strong, b {
  font-weight: bold;
}

/* line 44, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* required styles */
/* line 3, ../sass/_leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 22, ../sass/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 27, ../sass/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* line 36, ../sass/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 42, ../sass/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 47, ../sass/_leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 51, ../sass/_leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 56, ../sass/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 60, ../sass/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 66, ../sass/_leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 70, ../sass/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 74, ../sass/_leaflet.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 78, ../sass/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 82, ../sass/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 86, ../sass/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 90, ../sass/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* line 94, ../sass/_leaflet.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 99, ../sass/_leaflet.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 107, ../sass/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 113, ../sass/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 120, ../sass/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 124, ../sass/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 128, ../sass/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 132, ../sass/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 136, ../sass/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 141, ../sass/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 145, ../sass/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 149, ../sass/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 153, ../sass/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 157, ../sass/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 163, ../sass/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 172, ../sass/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 177, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 184, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 193, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 199, ../sass/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 203, ../sass/_leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 208, ../sass/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 213, ../sass/_leaflet.scss */
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 222, ../sass/_leaflet.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 227, ../sass/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 231, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 235, ../sass/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* general toolbar styles */
/* line 246, ../sass/_leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 251, ../sass/_leaflet.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 264, ../sass/_leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 271, ../sass/_leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 275, ../sass/_leaflet.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 280, ../sass/_leaflet.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 286, ../sass/_leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 292, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */
/* line 300, ../sass/_leaflet.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 306, ../sass/_leaflet.scss */
.leaflet-control-zoom-out {
  font-size: 20px;
}

/* line 310, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

/* line 314, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* layers control */
/* line 320, ../sass/_leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 326, ../sass/_leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 332, ../sass/_leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

/* line 337, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 342, ../sass/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 347, ../sass/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 352, ../sass/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 358, ../sass/_leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 364, ../sass/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 368, ../sass/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 376, ../sass/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 382, ../sass/_leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 388, ../sass/_leaflet.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 392, ../sass/_leaflet.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 396, ../sass/_leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 401, ../sass/_leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 405, ../sass/_leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 409, ../sass/_leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 424, ../sass/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 430, ../sass/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 434, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 440, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 448, ../sass/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 453, ../sass/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}
/* line 458, ../sass/_leaflet.scss */
.leaflet-popup-content-wrapper h3 {
  font-size: 1.375em;
}

/* line 463, ../sass/_leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 468, ../sass/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 472, ../sass/_leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 480, ../sass/_leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 494, ../sass/_leaflet.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 501, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 516, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 520, ../sass/_leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 526, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 530, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 537, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 541, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 550, ../sass/_leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* Fullscreen */
/* line 557, ../sass/_leaflet.scss */
.leaflet-control-zoom-fullscreen {
  background: url("/themes/demandmap/images/icon-fullscreen.png");
}

/* line 561, ../sass/_leaflet.scss */
.leaflet-container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  z-index: 100;
}

/* line 567, ../sass/_leaflet.scss */
.leaflet-pseudo-fullscreen {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 100;
}

/* line 1, ../sass/_markercluster.scss */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
  transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}

/* line 1, ../sass/_markercluster.default.scss */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

/* line 4, ../sass/_markercluster.default.scss */
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

/* line 8, ../sass/_markercluster.default.scss */
.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

/* line 11, ../sass/_markercluster.default.scss */
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

/* line 15, ../sass/_markercluster.default.scss */
.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

/* line 18, ../sass/_markercluster.default.scss */
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
/* line 23, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c;
}

/* line 26, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39;
}

/* line 30, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357;
}

/* line 33, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c;
}

/* line 37, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73;
}

/* line 40, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017;
}

/* line 44, ../sass/_markercluster.default.scss */
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

/* line 48, ../sass/_markercluster.default.scss */
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 58, ../sass/_markercluster.default.scss */
.marker-cluster span {
  line-height: 30px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 5, ../sass/_colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 13, ../sass/_colorbox.scss */
#cboxWrapper {
  max-width: none;
}

/* line 17, ../sass/_colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 23, ../sass/_colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

/* line 27, ../sass/_colorbox.scss */
#cboxContent {
  position: relative;
}

/* line 31, ../sass/_colorbox.scss */
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 36, ../sass/_colorbox.scss */
#cboxTitle {
  margin: 0;
}

/* line 40, ../sass/_colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 48, ../sass/_colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/* line 52, ../sass/_colorbox.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

/* line 61, ../sass/_colorbox.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* line 68, ../sass/_colorbox.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 79, ../sass/_colorbox.scss */
#cboxOverlay {
  background: #000;
}

/* line 83, ../sass/_colorbox.scss */
#colorbox {
  outline: 0;
}

/* line 87, ../sass/_colorbox.scss */
#cboxTopLeft {
  width: 14px;
  height: 14px;
  background: url(/themes/demandmap/images/colorbox/controls.png) no-repeat 0 0;
}

/* line 93, ../sass/_colorbox.scss */
#cboxTopCenter {
  height: 14px;
  background: url(/themes/demandmap/images/colorbox/border.png) repeat-x top left;
}

/* line 98, ../sass/_colorbox.scss */
#cboxTopRight {
  width: 14px;
  height: 14px;
  background: url(/themes/demandmap/images/colorbox/controls.png) no-repeat -36px 0;
}

/* line 104, ../sass/_colorbox.scss */
#cboxBottomLeft {
  width: 14px;
  height: 43px;
  background: url(/themes/demandmap/images/colorbox/controls.png) no-repeat 0 -32px;
}

/* line 110, ../sass/_colorbox.scss */
#cboxBottomCenter {
  height: 43px;
  background: url(/themes/demandmap/images/colorbox/border.png) repeat-x bottom left;
}

/* line 115, ../sass/_colorbox.scss */
#cboxBottomRight {
  width: 14px;
  height: 43px;
  background: url(/themes/demandmap/images/colorbox/controls.png) no-repeat -36px -32px;
}

/* line 121, ../sass/_colorbox.scss */
#cboxMiddleLeft {
  width: 14px;
  background: url(/themes/demandmap/images/colorbox/controls.png) repeat-y -175px 0;
}

/* line 126, ../sass/_colorbox.scss */
#cboxMiddleRight {
  width: 14px;
  background: url(/themes/demandmap/images/colorbox/controls.png) repeat-y -211px 0;
}

/* line 131, ../sass/_colorbox.scss */
#cboxContent {
  background: #fff;
  overflow: visible;
}

/* line 136, ../sass/_colorbox.scss */
.cboxIframe {
  background: #fff;
}

/* line 140, ../sass/_colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 145, ../sass/_colorbox.scss */
#cboxLoadedContent {
  margin-bottom: 5px;
}

/* line 149, ../sass/_colorbox.scss */
#cboxLoadingOverlay {
  background: url(/themes/demandmap/images/colorbox/loading_background.png) no-repeat center center;
}

/* line 153, ../sass/_colorbox.scss */
#cboxLoadingGraphic {
  background: url(/themes/demandmap/images/colorbox/loading.gif) no-repeat center center;
}

/* line 157, ../sass/_colorbox.scss */
#cboxTitle {
  position: absolute;
  bottom: -25px;
  left: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #7C7C7C;
}

/* line 167, ../sass/_colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: -25px;
  left: 58px;
  font-weight: bold;
  color: #7C7C7C;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
/* line 176, ../sass/_colorbox.scss */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  bottom: -29px;
  background: url(/themes/demandmap/images/colorbox/controls.png) no-repeat 0px 0px;
  width: 23px;
  height: 23px;
  text-indent: -9999px;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
/* line 190, ../sass/_colorbox.scss */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

/* line 194, ../sass/_colorbox.scss */
#cboxPrevious {
  left: 0px;
  background-position: -51px -25px;
}

/* line 199, ../sass/_colorbox.scss */
#cboxPrevious:hover {
  background-position: -51px 0px;
}

/* line 203, ../sass/_colorbox.scss */
#cboxNext {
  left: 27px;
  background-position: -75px -25px;
}

/* line 208, ../sass/_colorbox.scss */
#cboxNext:hover {
  background-position: -75px 0px;
}

/* line 212, ../sass/_colorbox.scss */
#cboxClose {
  right: 0;
  background-position: -100px -25px;
}

/* line 217, ../sass/_colorbox.scss */
#cboxClose:hover {
  background-position: -100px 0px;
}

/* line 221, ../sass/_colorbox.scss */
.cboxSlideshow_on #cboxSlideshow {
  background-position: -125px 0px;
  right: 27px;
}

/* line 226, ../sass/_colorbox.scss */
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -150px 0px;
}

/* line 230, ../sass/_colorbox.scss */
.cboxSlideshow_off #cboxSlideshow {
  background-position: -150px -25px;
  right: 27px;
}

/* line 235, ../sass/_colorbox.scss */
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -125px 0px;
}

/* Base styles */
/* line 11, ../sass/style.scss */
html {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  width: 100%;
}

/* line 20, ../sass/style.scss */
body {
  background: white;
  color: #938069;
  line-height: 1.3em;
}

/* line 26, ../sass/style.scss */
a {
  color: #938069;
  text-decoration: none;
}

/* line 31, ../sass/style.scss */
a:hover {
  color: #7ba054;
  text-decoration: underline;
}

/* line 36, ../sass/style.scss */
p {
  margin: 0 0 1.5em;
}

/* line 40, ../sass/style.scss */
.clearfix {
  zoom: 1;
}
/* line 42, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 48, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* Classes */
/* line 55, ../sass/style.scss */
.wrapper-inner {
  margin: 0 auto;
  max-width: 960px;
}

/* line 60, ../sass/style.scss */
.wrapper-inner-list {
  margin: 0 auto;
  max-width: 1140px;
}

/**
 * Region top
 */
/* line 69, ../sass/style.scss */
#region-top {
  background: #604e38;
  min-height: 45px;
}

/* line 74, ../sass/style.scss */
#block-search {
  float: left;
  margin: 0 0 0 65px;
  position: relative;
  width: 33%;
}
/* line 80, ../sass/style.scss */
#block-search .search-form {
  margin: 11px 0 0 0;
}
/* line 83, ../sass/style.scss */
#block-search .search-form input.text {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  float: left;
  font-size: 0.750em;
  height: 22px;
  line-height: 22px;
  padding: 0 5px 0 5px;
  width: 190px;
}
/* line 93, ../sass/style.scss */
#block-search .search-form input.searchbtn {
  background: url("/themes/demandmap/images/icon-search.png") no-repeat 50% 50% white;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 22px;
  line-height: 22px;
  text-indent: -5000px;
  width: 22px;
}

/* line 109, ../sass/style.scss */
#block-sociallinks {
  color: #fff;
  float: right;
  font-size: 0.750em;
  line-height: 22px;
  margin: 11px 90px 0 0;
  text-align: right;
  width: 33%;
}
/* line 118, ../sass/style.scss */
#block-sociallinks a {
  color: #fff;
}

/**
 * Region header
 */
/* line 127, ../sass/style.scss */
#logo {
  float: left;
  margin: 5px 0 10px 60px;
}

/* line 132, ../sass/style.scss */
#menu-mainmenu {
  float: left;
  font-size: 0.938em;
  line-height: 30px;
  margin: 76px 0 0 22px;
  text-transform: uppercase;
}
/* line 139, ../sass/style.scss */
#menu-mainmenu li {
  float: left;
  padding: 0 13px;
}
/* line 143, ../sass/style.scss */
#menu-mainmenu li a {
  color: #775e41;
}
/* line 146, ../sass/style.scss */
#menu-mainmenu li a.active {
  color: #fb8944;
}

/**
 * Region footer
 */
/* line 157, ../sass/style.scss */
#region-footer {
  background: #46392b;
  color: #ffffff;
  min-height: 85px;
}
/* line 162, ../sass/style.scss */
#region-footer a {
  color: #ffffff;
}
/* line 165, ../sass/style.scss */
#region-footer ul {
  padding: 22px 0 0 0;
}
/* line 167, ../sass/style.scss */
#region-footer ul li {
  display: inline;
  margin: 0 0.15em;
}

/* line 174, ../sass/style.scss */
#footer-block {
  display: none;
}

/* line 178, ../sass/style.scss */
#footer-block + img {
  display: none;
}

/**
 * Footer menu
 */
/* line 186, ../sass/style.scss */
#footermenu {
  font-size: 0.875em;
  text-align: center;
}

/**
 * Region filter
 */
/* line 195, ../sass/style.scss */
#region-filter {
  border-top: 5px solid #ac9f8c;
  background: #cdc0af;
  min-height: 53px;
}

/* line 201, ../sass/style.scss */
#type_switch {
  font-size: 0.875em;
  line-height: 30px;
  padding: 11px 0 11px 125px;
}
/* line 206, ../sass/style.scss */
#type_switch li {
  float: left;
  padding: 0 16px;
}
/* line 210, ../sass/style.scss */
#type_switch li a {
  color: #fff;
}
/* line 213, ../sass/style.scss */
#type_switch li a.active {
  color: #604e38;
  font-weight: bold;
}

/**
 * Category filter
 */
/* line 226, ../sass/style.scss */
#category_switch ul {
  font-size: 0.750em;
  line-height: normal;
  margin: 9px 0 9px 0;
  list-style-type: none;
}
/* line 232, ../sass/style.scss */
#category_switch ul li {
  padding: 2px 0 2px 0;
}

/* line 238, ../sass/style.scss */
#region-category-filter {
  color: #fff;
  margin: 36px 0 0 0;
  position: absolute;
  right: 0;
  z-index: 1001;
  z-index: 100000;
}
/* line 246, ../sass/style.scss */
#region-category-filter a {
  color: #fff;
}
/* line 248, ../sass/style.scss */
#region-category-filter a:hover, #region-category-filter a.active {
  color: #856c52;
  text-decoration: none;
}
/* line 253, ../sass/style.scss */
#region-category-filter h3 {
  color: #fff !important;
  font-size: 1.500em;
  margin: 9px 0 17px 0;
  text-transform: uppercase;
}
/* line 259, ../sass/style.scss */
#region-category-filter h4 {
  color: #fff !important;
  font-size: 1.125em;
  font-weight: normal;
  font-style: italic;
}
/* line 265, ../sass/style.scss */
#region-category-filter h5 {
  color: #fff !important;
  font-size: 0.875em;
  font-weight: normal;
  font-style: italic;
}

/* line 273, ../sass/style.scss */
#region-category-filter-inner {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
  zoom: 1;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: right;
  font-size: 0;
  overflow: hidden;
  position: relative;
  padding: 0 0 0 13px;
  width: 0;
}

/* line 284, ../sass/style.scss */
#region-category-filter-plus, #region-category-filter-minus {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
  zoom: 1;
  float: right;
  font-size: 0;
  height: 39px;
  width: 32px;
}
/* line 291, ../sass/style.scss */
#region-category-filter-plus img, #region-category-filter-minus img {
  margin: 7px 0 0 9px;
}

/* line 296, ../sass/style.scss */
#region-category-filter-minus {
  display: none;
}

/**
 * Categories
 */
/* line 304, ../sass/style.scss */
.category-column {
  margin-bottom: 1em;
}
/* line 307, ../sass/style.scss */
.category-column label {
  color: #46392b;
  display: block;
  font-weight: bold;
}
/* line 312, ../sass/style.scss */
.category-column ul {
  margin: 0 0 0 1.5em;
}
/* line 315, ../sass/style.scss */
.category-column ul label {
  font-weight: normal !important;
}
/* line 319, ../sass/style.scss */
.category-column .check-box {
  margin: 0 0.5em 0 0;
}

/**
 * Pagination
 */
/* line 328, ../sass/style.scss */
.rb_nav-controls {
  position: absolute;
  bottom: -44px;
  left: 50%;
  margin: 0 0 0 -15%;
  text-align: center;
  z-index: 1005;
  width: 30%;
}

/* line 338, ../sass/style.scss */
ul.pager {
  line-height: 42px;
}
/* line 341, ../sass/style.scss */
ul.pager li {
  display: inline;
  display: inline-block;
  list-style: none;
  padding: 0 2px 0 2px;
}
/* line 347, ../sass/style.scss */
ul.pager li a.active {
  color: #fff;
  font-weight: bold;
}

/**
 * Map region
 */
/* line 361, ../sass/style.scss */
div.map {
  border: 0;
  height: 350px;
  width: 100%;
}

/* line 367, ../sass/style.scss */
.map-pager {
  background: #2d2b29;
  height: 42px;
  line-height: 42px;
  position: relative;
  z-index: 1002;
}

/* line 375, ../sass/style.scss */
#trigger-expand-map {
  display: none;
}

/* line 379, ../sass/style.scss */
.trigger-maplist {
  float: left;
  font-size: 0.875em;
  padding: 0 0 0 45px;
}
/* line 384, ../sass/style.scss */
.trigger-maplist a.active {
  color: #7ba054;
  font-weight: bold;
  margin: 0 5px;
}

/* line 391, ../sass/style.scss */
.trigger-collapse {
  float: right;
  display: none;
}

/* line 402, ../sass/style.scss */
.collapsible-list {
  display: none;
  background: #938069;
}
/* line 406, ../sass/style.scss */
.collapsible-list .list-view {
  padding: 14px 0 0 0;
  position: relative;
  height: 350px;
}
/* line 411, ../sass/style.scss */
.collapsible-list .no-matchings {
  color: #fff;
  padding: 0 0 0 125px;
  left: 30%;
  top: 50%;
  position: absolute;
}
/* line 418, ../sass/style.scss */
.collapsible-list .rb_report {
  background: #e7e1d3;
  float: left;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(8, 9, 7, 0.5);
  margin: 0 12px 12px 0;
  height: 110px;
  padding: 20px 15px;
  overflow: hidden;
  position: relative;
  width: 332px;
}
/* line 431, ../sass/style.scss */
.collapsible-list .rb_report a {
  color: #7ba054;
}
/* line 434, ../sass/style.scss */
.collapsible-list .rb_report h3 {
  color: #7ba054;
  font-weight: bold;
  margin: 0 0 0.5em;
}
/* line 439, ../sass/style.scss */
.collapsible-list .rb_report .r_date, .collapsible-list .rb_report .r_location {
  display: none;
}
/* line 442, ../sass/style.scss */
.collapsible-list .rb_report .btn-show {
  color: #46392b;
  font-size: 0.875em;
  white-space: nowrap;
}
/* line 447, ../sass/style.scss */
.collapsible-list .rb_report .report-submissiontype {
  bottom: 0;
  right: 14px;
  position: absolute;
}

/**
 * Content region
 */
/* line 460, ../sass/style.scss */
.region-content .wrapper-inner {
  background: #e7e1d3;
}
/* line 463, ../sass/style.scss */
.region-content .wrapper-inner .content-padding {
  padding: 30px 45px;
}

/**
 * Frontpage columns
 */
/* line 473, ../sass/style.scss */
.frontpage-content-columns {
  padding: 0 0 1em 0;
}

/* line 477, ../sass/style.scss */
.frontpage-content-left {
  float: left;
  width: 67%;
}

/* line 482, ../sass/style.scss */
.frontpage-content-right {
  float: left;
  line-height: normal;
  width: 33%;
}
/* line 487, ../sass/style.scss */
.frontpage-content-right img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d0cabc;
}

/**
 * Frontpage Buttons
 */
/* line 497, ../sass/style.scss */
.frontpage-button {
  border-bottom: 1px solid #d0cabc;
  float: left;
  font-size: 0.875em;
  padding: 0 0 35px 0;
  text-align: center;
  width: 33.33333%;
}
/* line 505, ../sass/style.scss */
.frontpage-button h3 {
  color: #948068;
  font-size: 1.75em;
  font-weight: normal;
  margin: 30px 0 15px 0;
  text-transform: uppercase;
}
/* line 512, ../sass/style.scss */
.frontpage-button a:hover {
  color: #7ba054;
}

/* line 517, ../sass/style.scss */
#frontpage-buttons {
  margin: 2em 0 2.5em;
}

/* line 521, ../sass/style.scss */
.frontpage-buttons-inner {
  padding: 0 20px;
  min-height: 270px;
}

/* line 526, ../sass/style.scss */
#page-id-9 {
  margin-top: 38px;
  text-align: right;
}

/**
 * blocks
 */
/* line 536, ../sass/style.scss */
.content-blocks #block-reports {
  float: left;
  width: 28%;
}
/* line 540, ../sass/style.scss */
.content-blocks #block-reports .content-block {
  padding-right: 10px;
}
/* line 544, ../sass/style.scss */
.content-blocks #block-news {
  float: left;
  width: 42%;
}
/* line 548, ../sass/style.scss */
.content-blocks #block-news .content-block {
  padding: 0 5px;
}
/* line 552, ../sass/style.scss */
.content-blocks #block-social-media {
  float: left;
  width: 30%;
}
/* line 556, ../sass/style.scss */
.content-blocks #block-social-media .content-block {
  padding-left: 10px;
}

/* line 563, ../sass/style.scss */
#block-reports .incident-identificator {
  display: inline-block;
  width: 25px;
}
/* line 567, ../sass/style.scss */
#block-reports .incident-separator {
  margin-right: 5px;
}

/* line 572, ../sass/style.scss */
.block-report-list, .block-news-list {
  font-size: 0.750em;
}

/**
 * Report detail
 */
/* line 580, ../sass/style.scss */
h1, .report-detail h2, .content-blocks h5 {
  color: #46392b;
  font-size: 1.375em;
  font-weight: bold;
  padding-bottom: 0.75em;
}

/* line 587, ../sass/style.scss */
h1, .report-detail h2 {
  margin: 0.5em 0;
  text-transform: uppercase;
}

/* line 592, ../sass/style.scss */
h2 {
  color: #615342;
}

/* line 597, ../sass/style.scss */
.report-detail .report-category-list, .report-detail .report-description-text {
  margin: 0 0 1em 0;
}

/* line 605, ../sass/style.scss */
.report-date {
  font-size: 0.875em;
  margin: -0.75em 0 1em;
}

/* line 613, ../sass/style.scss */
.report-detail-mode {
  float: right;
}

/* line 617, ../sass/style.scss */
.report-comments {
  margin: 2em 0;
}
/* line 619, ../sass/style.scss */
.report-comments h2 {
  margin-bottom: 0.375em;
}

/* line 624, ../sass/style.scss */
.report-comment-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d5cebe;
  background: #f3f0e9;
  margin: 0 0 6px 0;
  padding: 8px 9px;
}

/* line 632, ../sass/style.scss */
.comment-metadata {
  font-style: italic;
  font-size: 0.875em;
}

/* line 637, ../sass/style.scss */
.comment-description {
  margin: 0.5em 0 0.5em;
}

/* line 641, ../sass/style.scss */
.comment-block {
  margin: 2em 0 0 0;
}

/* line 645, ../sass/style.scss */
#commentForm {
  font-size: 0.875em;
  margin: 1em 0 0 0;
}
/* line 649, ../sass/style.scss */
#commentForm label {
  color: #46392b;
  display: block;
  font-weight: bold;
}

/* line 656, ../sass/style.scss */
h2 + #commentForm {
  margin-top: 0.25em;
}

/* line 660, ../sass/style.scss */
.report_row {
  margin: 0 0 1em 0;
}

/* line 664, ../sass/style.scss */
.error {
  color: #ca1b17 !important;
  font-weight: normal !important;
}

/**
 * Submit incident
 */
/* line 673, ../sass/style.scss */
#reportForm {
  font-size: 0.875em;
  margin: 0.5em 0 0 0;
}
/* line 677, ../sass/style.scss */
#reportForm label {
  color: #46392b;
  display: block;
  font-weight: bold;
}
/* line 682, ../sass/style.scss */
#reportForm .allowed-html {
  display: block;
  line-height: 1.3em;
  font-size: 0.750em;
  margin-bottom: 3px;
}

/**
 * user interface
 */
/* line 694, ../sass/style.scss */
.edit-link {
  font-size: 0.675em;
}

/**
 * Form generation
 */
/* line 702, ../sass/style.scss */
.textarea, .text {
  border: 1px solid #f4f1ea;
  padding: 0 5px;
  height: 23px;
  line-height: 23px;
  width: 400px;
}

/* line 710, ../sass/style.scss */
.textarea {
  height: 100px;
}

/* line 714, ../sass/style.scss */
.btn_green, #resource-filter .btn_reset, .add-resource a, .btn_submit {
  background: #7ba054;
  border: 0;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
}
/* line 723, ../sass/style.scss */
.btn_green:hover, #resource-filter .btn_reset:hover, .add-resource a:hover, .btn_submit:hover {
  background: #94b572;
}

/**
 * Table list
 */
/* line 732, ../sass/style.scss */
.table-list {
  background: #fff;
  border-left: 1px solid #ac9f8c;
  border-top: 1px solid #ac9f8c;
}
/* line 737, ../sass/style.scss */
.table-list tr.odd {
  background: #e9e9e9;
}
/* line 740, ../sass/style.scss */
.table-list th, .table-list td {
  border-right: 1px solid #ac9f8c;
  border-bottom: 1px solid #ac9f8c;
  padding: 3px 8px;
}
/* line 745, ../sass/style.scss */
.table-list th {
  background: #2d2b29;
  color: #fff;
  font-weight: bold;
}

/**
 * Page content
 */
/* line 758, ../sass/style.scss */
.page_text a {
  color: #7ba054;
}
/* line 761, ../sass/style.scss */
.page_text a:hover {
  text-decoration: underline;
}
/* line 764, ../sass/style.scss */
.page_text h2 {
  font-size: 1.0em;
  font-weight: bold;
  padding-bottom: 0.25em;
}
/* line 769, ../sass/style.scss */
.page_text h3, .page_text h4, .page_text h5 {
  font-size: 1.0em;
  font-weight: bold;
  padding-bottom: 0.25em;
}
/* line 774, ../sass/style.scss */
.page_text p {
  margin: 0 0 1.5em;
}
/* line 777, ../sass/style.scss */
.page_text p + ul, .page_text p + ol {
  margin-top: -0.5em;
}
/* line 780, ../sass/style.scss */
.page_text li ul, .page_text li ol {
  margin: 0 1.5em;
}
/* line 784, ../sass/style.scss */
.page_text ul, .page_text ol {
  margin: 0 1.5em 1.5em 2em;
}
/* line 789, ../sass/style.scss */
.page_text ul ul, .page_text ul ol, .page_text ol ul, .page_text ol ol {
  margin-left: 1.5em;
}
/* line 795, ../sass/style.scss */
.page_text ul p, .page_text ol p {
  margin: 1em 0 1em 0;
}
/* line 800, ../sass/style.scss */
.page_text ul {
  list-style-type: disc;
}
/* line 804, ../sass/style.scss */
.page_text ol {
  list-style-type: decimal;
}

/* line 809, ../sass/style.scss */
.sidebar-right {
  float: right;
  margin: 0 0 0 90px;
}
/* line 813, ../sass/style.scss */
.sidebar-right h2 {
  color: #46392b;
  font-size: 0.875em;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 819, ../sass/style.scss */
.sidebar-right iframe {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 825, ../sass/style.scss */
#page-id-1 .sidebar-right {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #d0cabc;
  padding: 5px 10px;
  text-align: center;
}

/**
 * Resources
 */
/* line 838, ../sass/style.scss */
.resource-content-left {
  float: left;
  width: 70%;
}

/* line 843, ../sass/style.scss */
.resource-content-right {
  box-sizing: border-box;
  float: left;
  padding-left: 40px;
  width: 30%;
}

/* line 850, ../sass/style.scss */
#resource-filter {
  font-size: 0.875em;
}
/* line 852, ../sass/style.scss */
#resource-filter .is-children {
  margin: 0 0 0 1.5em;
}
/* line 855, ../sass/style.scss */
#resource-filter h2 {
  color: #46392b;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 860, ../sass/style.scss */
#resource-filter .btn_green, #resource-filter .btn_reset, #resource-filter .add-resource a, .add-resource #resource-filter a {
  float: right;
  margin-top: 1em;
}
/* line 864, ../sass/style.scss */
#resource-filter .btn_reset {
  background: #a1be83;
  float: left;
  margin-right: 1em;
  margin-top: 1em;
}

/* line 873, ../sass/style.scss */
.add-resource {
  margin: 0 0 2em 0;
}
/* line 874, ../sass/style.scss */
.add-resource a {
  font-size: 0.875em;
}

/* line 881, ../sass/style.scss */
.resources-list {
  border-top: 1px dashed #d0cabc;
  margin: 0.75em 0 0 0;
  padding: 1em 0 0 0;
}
/* line 886, ../sass/style.scss */
.resources-list .resources-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px dashed #d0cabc;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
}
/* line 892, ../sass/style.scss */
.resources-list h3 {
  color: #46392b;
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 898, ../sass/style.scss */
.resources-list .material-category {
  color: #938069;
  font-size: 0.813em;
  font-style: italic;
  font-weight: normal;
  margin: 0.75em 0 0 0;
}
/* line 905, ../sass/style.scss */
.resources-list .action-line {
  font-size: 0.813em;
  margin: 0.75em 0 0 0;
}
/* line 910, ../sass/style.scss */
.resources-list .action-line .commentcount a {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d0cabc;
  padding: 0.25em 0.75em;
}
/* line 917, ../sass/style.scss */
.resources-list .action-line .readmore {
  margin: 0 0 0 0.5em;
}
/* line 919, ../sass/style.scss */
.resources-list .action-line .readmore a {
  background: #7ba054;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d0cabc;
  color: #ffffff;
  padding: 0.25em 0.75em;
}

/* line 931, ../sass/style.scss */
.resource-detail h2 {
  color: #46392b;
  font-size: 1.0em;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 937, ../sass/style.scss */
.resource-detail .material-category {
  color: #938069;
  font-size: 0.875em;
  font-style: italic;
  font-weight: normal;
  margin: -0.75em 0 0.75em 0;
}

/**
 * Errors
 */
/* line 950, ../sass/style.scss */
.red-box {
  border: 1px dashed #ed541d;
  background-color: #fef5f1;
  color: #8c2e0b;
  margin: 0 0 1em 0;
  padding: 0.75em 1em;
}
/* line 957, ../sass/style.scss */
.red-box h3 {
  color: #8c2e0b;
  font-weight: bold;
}
/* line 961, ../sass/style.scss */
.red-box ul, .red-box ol {
  margin: 0.175em 0 0 1.1em;
  list-style-type: disc;
}

/**
 * User Navbar
 */
/* line 971, ../sass/style.scss */
#header_nav {
  font-size: 0.875em;
}

/* line 975, ../sass/style.scss */
#header_nav_left {
  line-height: 30px;
}

/* line 981, ../sass/style.scss */
#header_nav_right li.header_nav_user a {
  display: block;
  padding: 0.25em 0.75em;
}

/* line 988, ../sass/style.scss */
.report-submit {
  padding-right: 45px;
}

/*@ sourceMappingURL=style.css.map */