/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, .report-detail h2, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 12, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 20, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 35, ../sass/_reset.scss */
em {
  font-style: italic;
}

/* line 39, ../sass/_reset.scss */
strong {
  font-weight: bold;
}

/* line 44, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* required styles */
/* line 3, ../sass/_leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 22, ../sass/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 27, ../sass/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* line 36, ../sass/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 42, ../sass/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 47, ../sass/_leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 51, ../sass/_leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 56, ../sass/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 60, ../sass/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 66, ../sass/_leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 70, ../sass/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 74, ../sass/_leaflet.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 78, ../sass/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 82, ../sass/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 86, ../sass/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 90, ../sass/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* line 94, ../sass/_leaflet.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 99, ../sass/_leaflet.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 107, ../sass/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 113, ../sass/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 120, ../sass/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 124, ../sass/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 128, ../sass/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 132, ../sass/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 136, ../sass/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 141, ../sass/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 145, ../sass/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 149, ../sass/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 153, ../sass/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 157, ../sass/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 163, ../sass/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 172, ../sass/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 177, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 184, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 193, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 199, ../sass/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 203, ../sass/_leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 208, ../sass/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 213, ../sass/_leaflet.scss */
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 222, ../sass/_leaflet.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 227, ../sass/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 231, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 235, ../sass/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* line 241, ../sass/_leaflet.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 247, ../sass/_leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 252, ../sass/_leaflet.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 265, ../sass/_leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 272, ../sass/_leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 276, ../sass/_leaflet.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 281, ../sass/_leaflet.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 287, ../sass/_leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 293, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */
/* line 301, ../sass/_leaflet.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 307, ../sass/_leaflet.scss */
.leaflet-control-zoom-out {
  font-size: 20px;
}

/* line 311, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

/* line 315, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* layers control */
/* line 321, ../sass/_leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 327, ../sass/_leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 333, ../sass/_leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

/* line 338, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 343, ../sass/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 348, ../sass/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 353, ../sass/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 359, ../sass/_leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 365, ../sass/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 369, ../sass/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 377, ../sass/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 383, ../sass/_leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 389, ../sass/_leaflet.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 393, ../sass/_leaflet.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 397, ../sass/_leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 402, ../sass/_leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 406, ../sass/_leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 410, ../sass/_leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 425, ../sass/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 431, ../sass/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 435, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 441, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 449, ../sass/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 454, ../sass/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

/* line 460, ../sass/_leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 465, ../sass/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 469, ../sass/_leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 477, ../sass/_leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 491, ../sass/_leaflet.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 498, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 513, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 517, ../sass/_leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 523, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 527, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 534, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 538, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 547, ../sass/_leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* line 1, ../sass/_markercluster.scss */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
  transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}

/* line 1, ../sass/_markercluster.default.scss */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

/* line 4, ../sass/_markercluster.default.scss */
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

/* line 8, ../sass/_markercluster.default.scss */
.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

/* line 11, ../sass/_markercluster.default.scss */
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

/* line 15, ../sass/_markercluster.default.scss */
.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

/* line 18, ../sass/_markercluster.default.scss */
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
/* line 23, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c;
}

/* line 26, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39;
}

/* line 30, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357;
}

/* line 33, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c;
}

/* line 37, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73;
}

/* line 40, ../sass/_markercluster.default.scss */
.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017;
}

/* line 44, ../sass/_markercluster.default.scss */
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

/* line 48, ../sass/_markercluster.default.scss */
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 58, ../sass/_markercluster.default.scss */
.marker-cluster span {
  line-height: 30px;
}

/* Base styles */
/* line 9, ../sass/style.scss */
html {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 16, ../sass/style.scss */
body {
  background: white;
  color: #938069;
  line-height: 1.3em;
}

/* line 22, ../sass/style.scss */
a {
  color: #938069;
  text-decoration: none;
}

/* line 27, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 31, ../sass/style.scss */
.clearfix {
  zoom: 1;
}
/* line 33, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 39, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* Classes */
/* line 46, ../sass/style.scss */
.wrapper-inner {
  margin: 0 auto;
  max-width: 960px;
}

/* line 51, ../sass/style.scss */
.wrapper-inner-list {
  margin: 0 auto;
  max-width: 1140px;
}

/**
 * Region top
 */
/* line 60, ../sass/style.scss */
#region-top {
  background: #604e38;
  min-height: 45px;
}

/* line 65, ../sass/style.scss */
#block-search {
  float: left;
  margin: 0 0 0 65px;
  position: relative;
  width: 33%;
}
/* line 71, ../sass/style.scss */
#block-search .search-form {
  margin: 11px 0 0 0;
}
/* line 74, ../sass/style.scss */
#block-search .search-form input.text {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  float: left;
  font-size: 0.750em;
  height: 22px;
  line-height: 22px;
  padding: 0 5px 0 5px;
  width: 190px;
}
/* line 84, ../sass/style.scss */
#block-search .search-form input.searchbtn {
  background: url("../images/icon-search.png") no-repeat 50% 50% white;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 22px;
  line-height: 22px;
  text-indent: -5000px;
  width: 22px;
}

/* line 100, ../sass/style.scss */
#block-sociallinks {
  color: #fff;
  float: right;
  font-size: 0.750em;
  line-height: 22px;
  margin: 11px 0 0 0;
  width: 33%;
}
/* line 108, ../sass/style.scss */
#block-sociallinks a {
  color: #fff;
}

/**
 * Region header
 */
/* line 117, ../sass/style.scss */
#logo {
  float: left;
  margin: 5px 0 10px 60px;
}

/* line 122, ../sass/style.scss */
#menu-mainmenu {
  float: left;
  font-size: 0.938em;
  line-height: 30px;
  margin: 76px 0 0 22px;
  text-transform: uppercase;
}
/* line 129, ../sass/style.scss */
#menu-mainmenu li {
  float: left;
  padding: 0 13px;
}
/* line 133, ../sass/style.scss */
#menu-mainmenu li a {
  color: #775e41;
}
/* line 136, ../sass/style.scss */
#menu-mainmenu li a.active {
  color: #fb8944;
}

/**
 * Region footer
 */
/* line 147, ../sass/style.scss */
#region-footer {
  border-top: 1px solid #ac9f8c;
  background: #cdc0af;
  line-height: 30px;
  min-height: 53px;
}
/* line 153, ../sass/style.scss */
#region-footer ul {
  margin: 12px 0 0 0;
}
/* line 155, ../sass/style.scss */
#region-footer ul li {
  display: inline;
  margin: 0 0.5em;
}

/* line 162, ../sass/style.scss */
#footer-block {
  display: none;
}

/* line 166, ../sass/style.scss */
#footer-block + img {
  display: none;
}

/**
 * Region filter
 */
/* line 174, ../sass/style.scss */
#region-filter {
  border-top: 5px solid #ac9f8c;
  background: #cdc0af;
  min-height: 53px;
}

/* line 180, ../sass/style.scss */
#category_switch {
  font-size: 0.875em;
  line-height: 30px;
  padding: 11px 0 11px 125px;
}
/* line 185, ../sass/style.scss */
#category_switch li {
  float: left;
  padding: 0 16px;
}
/* line 189, ../sass/style.scss */
#category_switch li a {
  color: #fff;
}
/* line 192, ../sass/style.scss */
#category_switch li a.active {
  color: #604e38;
  font-weight: bold;
}

/**
 * Map region
 */
/* line 207, ../sass/style.scss */
div.map {
  border: 0;
  height: 350px;
  width: 100%;
}

/* line 213, ../sass/style.scss */
.map-pager {
  background: #2d2b29;
  height: 42px;
  line-height: 42px;
}

/* line 219, ../sass/style.scss */
#trigger-expand-map {
  display: none;
}

/* line 223, ../sass/style.scss */
.trigger-maplist {
  float: left;
}

/* line 227, ../sass/style.scss */
.trigger-collapse {
  float: right;
}

/* line 231, ../sass/style.scss */
.collapsible-views {
  overflow: hidden;
}

/* line 235, ../sass/style.scss */
.collapsible-list {
  display: none;
  background: #938069;
  height: 350px;
}
/* line 240, ../sass/style.scss */
.collapsible-list .list-view {
  padding: 14px 0 0 0;
}
/* line 243, ../sass/style.scss */
.collapsible-list .rb_report {
  background: #e7e1d3;
  float: left;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(8, 9, 7, 0.5);
  margin: 0 12px 12px 0;
  height: 110px;
  padding: 20px 15px;
  overflow: hidden;
  position: relative;
  width: 332px;
}
/* line 256, ../sass/style.scss */
.collapsible-list .rb_report h3 {
  color: #7ba054;
  font-weight: bold;
  margin: 0 0 0.75em;
}
/* line 261, ../sass/style.scss */
.collapsible-list .rb_report .r_date, .collapsible-list .rb_report .r_location {
  display: none;
}
/* line 264, ../sass/style.scss */
.collapsible-list .rb_report .btn-show {
  color: #7ba054;
  font-size: 0.875em;
  white-space: nowrap;
}
/* line 269, ../sass/style.scss */
.collapsible-list .rb_report .report-submissiontype {
  bottom: 0;
  right: 14px;
  position: absolute;
}

/**
 * Content region
 */
/* line 283, ../sass/style.scss */
.region-content .wrapper-inner .content-padding {
  background: #e7e1d3;
  padding: 20px 45px;
}

/**
 * Report detail
 */
/* line 294, ../sass/style.scss */
h1, .report-detail h2 {
  color: #7ba054;
  font-size: 1.125em;
  font-weight: bold;
}

/* line 301, ../sass/style.scss */
.report-detail .report-category-list, .report-detail .report-metadata, .report-detail .report-description-text {
  margin: 0 0 1em 0;
}

/* line 309, ../sass/style.scss */
.report-metadata {
  font-weight: bold;
}

/* line 313, ../sass/style.scss */
.report-comments {
  margin: 2em 0;
}
/* line 315, ../sass/style.scss */
.report-comments h2 {
  margin-bottom: 0.375em;
}

/* line 320, ../sass/style.scss */
.report-comment-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d5cebe;
  background: #f3f0e9;
  margin: 0 0 6px 12px;
  padding: 8px 9px;
}

/* line 328, ../sass/style.scss */
.comment-metadata {
  font-style: italic;
  font-size: 0.875em;
}

/* line 333, ../sass/style.scss */
.comment-description {
  margin: 0.5em 0 0.5em;
}

/* line 340, ../sass/style.scss */
#commentForm {
  font-size: 0.875em;
  margin: 1em 0 0 0;
}
/* line 344, ../sass/style.scss */
#commentForm label {
  color: #7ba054;
  display: block;
  font-weight: bold;
}

/* line 351, ../sass/style.scss */
.report_row {
  margin: 0 0 1em 0;
}

/* line 355, ../sass/style.scss */
.error {
  color: #ca1b17 !important;
  font-weight: normal !important;
}

/**
 * Submit incident
 */
/* line 364, ../sass/style.scss */
#reportForm {
  font-size: 0.875em;
  margin: 1em 0 0 0;
}
/* line 368, ../sass/style.scss */
#reportForm label {
  color: #7ba054;
  display: block;
  font-weight: bold;
}
/* line 373, ../sass/style.scss */
#reportForm .allowed-html {
  display: block;
  line-height: 1.3em;
  font-size: 0.750em;
  margin-bottom: 3px;
}

/**
 * user interface
 */
/* line 385, ../sass/style.scss */
.edit-link {
  font-size: 0.675em;
}

/**
 * Form generation
 */
/* line 393, ../sass/style.scss */
.textarea, .text {
  border: 1px solid #f4f1ea;
  padding: 0 5px;
  height: 23px;
  line-height: 23px;
  width: 400px;
}

/* line 401, ../sass/style.scss */
.textarea {
  height: 100px;
}

/* line 405, ../sass/style.scss */
.btn_green, .btn_submit {
  background: #7ba054;
  border: 0;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
}
/* line 414, ../sass/style.scss */
.btn_green:hover, .btn_submit:hover {
  background: #94b572;
}

/**
 * Table list
 */
/* line 423, ../sass/style.scss */
.table-list {
  background: #fff;
  border-left: 1px solid #ac9f8c;
  border-top: 1px solid #ac9f8c;
}
/* line 428, ../sass/style.scss */
.table-list tr.odd {
  background: #e9e9e9;
}
/* line 431, ../sass/style.scss */
.table-list th, .table-list td {
  border-right: 1px solid #ac9f8c;
  border-bottom: 1px solid #ac9f8c;
  padding: 3px 8px;
}
/* line 436, ../sass/style.scss */
.table-list th {
  background: #2d2b29;
  color: #fff;
  font-weight: bold;
}

/*@ sourceMappingURL=style.css.map */